root = true

# All files
[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

# TypeScript and JavaScript files
[*.ts]
indent_size = 2

[*.js]
indent_size = 2

[*.html]
indent_size = 2

[*.css]
indent_size = 2

# JSON files
[*.json]
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false
